<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel='icon' href="img/favicon.ico">
        <link href="css/style.css" rel="stylesheet">

    </head>
    <body>
        <h4>Lamentamos, mas essa página não existe</h4>
    </body>

</html>