<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {{!-- Tags meta  --}}
        <meta http-equiv="content-language" content="pt-br">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, srhink-to-fit=no">

        {{!-- Configurações da página --}}
        <title>Universidae CPFL</title>
        <link rel='icon' href="img/favicon.ico">

        <!--Importando Bootstrap CSS-->
        <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body class ="image-back">
        <div class="w-25 p-12 h-25 login-box">
            <form action="/action_page.php" class="was-validated">
                <div class="form-group">
                    <label for="uname" style="color: white">Usuário:</label>
                    <input type="text" class="form-control" id="uname" placeholder="Usuários" name="uname" required>
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Entre o Usuário.</div>
                </div>
                <div class="form-group">
                    <label for="pwd" style="color: white">Senha:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Senha" name="pswd" required>
                    <div class="valid-feedback" style="color: green">Válido.</div>
                    <div class="invalid-feedback">Entre a Senha.</div>
                </div>
                <div class="form-group form-check"></div>
                <button type="submit" class="btn btn-primary" formaction="/home">Entrar</button>
            </form>
        </div>
    </body>
</html>