    
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <meta name="kewords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, srhink-to-fit=no">

    <title>Universidade CPFL</title>
    <link rel='icon' href="img/favicon.ico">

    <!--Importando Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    
    <!--Importando JS Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/treinocss.css" rel="stylesheet">

</head>
<body>
    {{!-- <div class="container-img-titulo">
        <img src="img/transmissao.jpg" alt="" class="w-100" style="height: 250px">
    </div> --}}
    {{>header}}




    <div class="progress">
            <div style="width: 75%"></div>
    </div>
    <!-- MENU OPÇÕES -->
    <div class="row">
        <div class="col-3 color-white">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#aula1" role="tab" aria-controls="home">Atividade 1</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#aula2" role="tab" aria-controls="profile">Atividade 2</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#aula3" role="tab" aria-controls="messages">Atividade 3</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#aula4" role="tab" aria-controls="settings">Atividade 4</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="aula1" role="tabpanel" aria-labelledby="list-home-list">
                <!--CONTEÚDOS DE VIDEO E TEXTO-->
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls src="img/composi.mp4" class="embed-responsive-item" width="426" height="240"></video>
                </div>
                <br><br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lectus in ex tristique eleifend lacinia vel sapien. Aenean cursus risus non varius ultricies. Integer aliquet, sem sit amet pellentesque ornare, augue neque ullamcorper ex, ac bibendum orci metus convallis elit. Sed faucibus, erat ut mollis faucibus, justo elit volutpat mauris, ac elementum orci augue quis odio. Vestibulum aliquet ex sed ex lacinia sodales. Integer volutpat, risus a commodo egestas, ex eros pellentesque dolor, ac laoreet ante neque vitae eros. Fusce sit amet urna mollis, auctor velit quis, porttitor tortor. Nunc a tortor eget metus convallis accumsan sed eu erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas quis mattis augue, eu malesuada massa. Pellentesque consequat luctus ultrices. Suspendisse laoreet leo vel sagittis tempor. Ut ac dignissim neque. Aenean a fermentum sem, fermentum ultricies felis.
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Fusce quis mi orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tincidunt blandit orci, nec vestibulum orci posuere et. Vestibulum tristique at leo in maximus. Vestibulum vestibulum, libero ac ultrices aliquam, ex nunc tincidunt quam, in dignissim nisl massa vel erat. Cras iaculis dui vitae purus rhoncus, ut viverra erat dignissim. Nam consectetur sapien vitae nulla vulputate condimentum. Nam interdum gravida erat ac luctus. Duis rutrum maximus tortor, eu placerat ligula consectetur vitae. Sed faucibus augue dolor, a imperdiet augue finibus id. Sed non mi ac eros elementum cursus ac quis enim.            
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Nam aliquam elementum metus at consectetur. Quisque egestas vestibulum ligula. Cras molestie hendrerit tincidunt. Integer ultrices, neque et aliquam malesuada, nulla risus imperdiet urna, et semper nisl lorem ac turpis. Fusce a quam at tellus sollicitudin ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis est at turpis vestibulum aliquet a id purus. Quisque varius, orci at porttitor semper, enim metus malesuada sem, ut malesuada magna libero ut dolor.
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Morbi id tortor ac augue condimentum venenatis nec sit amet sapien. Duis tincidunt interdum elit nec ornare. Donec convallis tincidunt leo non sagittis. Sed rhoncus purus id posuere commodo. Praesent ornare nisi sapien. Sed mollis molestie suscipit. Sed fringilla tempus ligula eget blandit. Cras blandit ipsum eget leo egestas, eu laoreet magna auctor. In accumsan iaculis lacus vel convallis. Aenean blandit mollis tortor. Sed porta arcu quis turpis accumsan, in venenatis ipsum pretium. 
            </div>
            <div class="tab-pane fade" id="aula2" role="tabpanel" aria-labelledby="list-profile-list">
                <!--CONTEÚDOS DE VIDEO E TEXTO-->
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls src="Emmanuel Udeh Dancing Green Screen.mp4" class="embed-responsive-item" width="426" height="240"></video>
                  </div>
                  <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lectus in ex tristique eleifend lacinia vel sapien. Aenean cursus risus non varius ultricies. Integer aliquet, sem sit amet pellentesque ornare, augue neque ullamcorper ex, ac bibendum orci metus convallis elit. Sed faucibus, erat ut mollis faucibus, justo elit volutpat mauris, ac elementum orci augue quis odio. Vestibulum aliquet ex sed ex lacinia sodales. Integer volutpat, risus a commodo egestas, ex eros pellentesque dolor, ac laoreet ante neque vitae eros. Fusce sit amet urna mollis, auctor velit quis, porttitor tortor. Nunc a tortor eget metus convallis accumsan sed eu erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas quis mattis augue, eu malesuada massa. Pellentesque consequat luctus ultrices. Suspendisse laoreet leo vel sagittis tempor. Ut ac dignissim neque. Aenean a fermentum sem, fermentum ultricies felis.
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Fusce quis mi orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tincidunt blandit orci, nec vestibulum orci posuere et. Vestibulum tristique at leo in maximus. Vestibulum vestibulum, libero ac ultrices aliquam, ex nunc tincidunt quam, in dignissim nisl massa vel erat. Cras iaculis dui vitae purus rhoncus, ut viverra erat dignissim. Nam consectetur sapien vitae nulla vulputate condimentum. Nam interdum gravida erat ac luctus. Duis rutrum maximus tortor, eu placerat ligula consectetur vitae. Sed faucibus augue dolor, a imperdiet augue finibus id. Sed non mi ac eros elementum cursus ac quis enim.            
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Nam aliquam elementum metus at consectetur. Quisque egestas vestibulum ligula. Cras molestie hendrerit tincidunt. Integer ultrices, neque et aliquam malesuada, nulla risus imperdiet urna, et semper nisl lorem ac turpis. Fusce a quam at tellus sollicitudin ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis est at turpis vestibulum aliquet a id purus. Quisque varius, orci at porttitor semper, enim metus malesuada sem, ut malesuada magna libero ut dolor.
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Morbi id tortor ac augue condimentum venenatis nec sit amet sapien. Duis tincidunt interdum elit nec ornare. Donec convallis tincidunt leo non sagittis. Sed rhoncus purus id posuere commodo. Praesent ornare nisi sapien. Sed mollis molestie suscipit. Sed fringilla tempus ligula eget blandit. Cras blandit ipsum eget leo egestas, eu laoreet magna auctor. In accumsan iaculis lacus vel convallis. Aenean blandit mollis tortor. Sed porta arcu quis turpis accumsan, in venenatis ipsum pretium. 
            </div>
            <div class="tab-pane fade" id="aula3" role="tabpanel" aria-labelledby="list-messages-list">
                <!--CONTEÚDOS DE VIDEO E TEXTO-->
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls src="Emmanuel Udeh Dancing Green Screen.mp4" class="embed-responsive-item" width="426" height="240"></video>
                </div>
                <br>
                <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lectus in ex tristique eleifend lacinia vel sapien. Aenean cursus risus non varius ultricies. Integer aliquet, sem sit amet pellentesque ornare, augue neque ullamcorper ex, ac bibendum orci metus convallis elit. Sed faucibus, erat ut mollis faucibus, justo elit volutpat mauris, ac elementum orci augue quis odio. Vestibulum aliquet ex sed ex lacinia sodales. Integer volutpat, risus a commodo egestas, ex eros pellentesque dolor, ac laoreet ante neque vitae eros. Fusce sit amet urna mollis, auctor velit quis, porttitor tortor. Nunc a tortor eget metus convallis accumsan sed eu erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas quis mattis augue, eu malesuada massa. Pellentesque consequat luctus ultrices. Suspendisse laoreet leo vel sagittis tempor. Ut ac dignissim neque. Aenean a fermentum sem, fermentum ultricies felis.
                <br>
                <br>
                <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                Fusce quis mi orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tincidunt blandit orci, nec vestibulum orci posuere et. Vestibulum tristique at leo in maximus. Vestibulum vestibulum, libero ac ultrices aliquam, ex nunc tincidunt quam, in dignissim nisl massa vel erat. Cras iaculis dui vitae purus rhoncus, ut viverra erat dignissim. Nam consectetur sapien vitae nulla vulputate condimentum. Nam interdum gravida erat ac luctus. Duis rutrum maximus tortor, eu placerat ligula consectetur vitae. Sed faucibus augue dolor, a imperdiet augue finibus id. Sed non mi ac eros elementum cursus ac quis enim.            
                <br>
                <br>
                <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                Nam aliquam elementum metus at consectetur. Quisque egestas vestibulum ligula. Cras molestie hendrerit tincidunt. Integer ultrices, neque et aliquam malesuada, nulla risus imperdiet urna, et semper nisl lorem ac turpis. Fusce a quam at tellus sollicitudin ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis est at turpis vestibulum aliquet a id purus. Quisque varius, orci at porttitor semper, enim metus malesuada sem, ut malesuada magna libero ut dolor.
                <br>
                <br>
                <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                Morbi id tortor ac augue condimentum venenatis nec sit amet sapien. Duis tincidunt interdum elit nec ornare. Donec convallis tincidunt leo non sagittis. Sed rhoncus purus id posuere commodo. Praesent ornare nisi sapien. Sed mollis molestie suscipit. Sed fringilla tempus ligula eget blandit. Cras blandit ipsum eget leo egestas, eu laoreet magna auctor. In accumsan iaculis lacus vel convallis. Aenean blandit mollis tortor. Sed porta arcu quis turpis accumsan, in venenatis ipsum pretium. 
            </div>
            <div class="tab-pane fade" id="aula4" role="tabpanel" aria-labelledby="list-settings-list">
                <!--CONTEÚDOS DE VIDEO E TEXTO-->
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls src="Emmanuel Udeh Dancing Green Screen.mp4" class="embed-responsive-item" width="426" height="240"></video>
                </div>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lectus in ex tristique eleifend lacinia vel sapien. Aenean cursus risus non varius ultricies. Integer aliquet, sem sit amet pellentesque ornare, augue neque ullamcorper ex, ac bibendum orci metus convallis elit. Sed faucibus, erat ut mollis faucibus, justo elit volutpat mauris, ac elementum orci augue quis odio. Vestibulum aliquet ex sed ex lacinia sodales. Integer volutpat, risus a commodo egestas, ex eros pellentesque dolor, ac laoreet ante neque vitae eros. Fusce sit amet urna mollis, auctor velit quis, porttitor tortor. Nunc a tortor eget metus convallis accumsan sed eu erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas quis mattis augue, eu malesuada massa. Pellentesque consequat luctus ultrices. Suspendisse laoreet leo vel sagittis tempor. Ut ac dignissim neque. Aenean a fermentum sem, fermentum ultricies felis.
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Fusce quis mi orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tincidunt blandit orci, nec vestibulum orci posuere et. Vestibulum tristique at leo in maximus. Vestibulum vestibulum, libero ac ultrices aliquam, ex nunc tincidunt quam, in dignissim nisl massa vel erat. Cras iaculis dui vitae purus rhoncus, ut viverra erat dignissim. Nam consectetur sapien vitae nulla vulputate condimentum. Nam interdum gravida erat ac luctus. Duis rutrum maximus tortor, eu placerat ligula consectetur vitae. Sed faucibus augue dolor, a imperdiet augue finibus id. Sed non mi ac eros elementum cursus ac quis enim.            
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Nam aliquam elementum metus at consectetur. Quisque egestas vestibulum ligula. Cras molestie hendrerit tincidunt. Integer ultrices, neque et aliquam malesuada, nulla risus imperdiet urna, et semper nisl lorem ac turpis. Fusce a quam at tellus sollicitudin ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis est at turpis vestibulum aliquet a id purus. Quisque varius, orci at porttitor semper, enim metus malesuada sem, ut malesuada magna libero ut dolor.
                    <br>
                    <br>
                    <h2 style="position: relative; text-align: center">Tópico Importante 1</h2>
                    Morbi id tortor ac augue condimentum venenatis nec sit amet sapien. Duis tincidunt interdum elit nec ornare. Donec convallis tincidunt leo non sagittis. Sed rhoncus purus id posuere commodo. Praesent ornare nisi sapien. Sed mollis molestie suscipit. Sed fringilla tempus ligula eget blandit. Cras blandit ipsum eget leo egestas, eu laoreet magna auctor. In accumsan iaculis lacus vel convallis. Aenean blandit mollis tortor. Sed porta arcu quis turpis accumsan, in venenatis ipsum pretium. 
            </div>
          </div>
        </div>
        {{>footer}}
      </div>
</body>
</html>